<div class="c-comment {{comment.comment_type}}" id="comment-{{comment.ID}}">
	<h3 class="c-author">{{comment.author.name}} says</h3>
	<div class="c-body-small">{{comment.comment_content|wpautop}}</div>
</div>
