{% extends "base.twig" %}

{% block content %}
	<article class="o-8-12@large u-center@large">
		<section class="o-row -large">
			<h1 class="c-heading-a">{{post.title}}</h1>
			<div class="c-body">
				{{post.content}}
			</div>
		</section>
	</article>
{% endblock %}
